@import "../../global/styles/variables";

.profile {
  .profile_card {
    background-color: $white;
    margin: 0 5% 2% 5%;
    border-radius: 7px;
    padding: 2%;
    font-family: 'Lato', sans-serif;
    font-size: 18px;

    .user {
      .info {
        display: flex;
        flex-direction: row;

        .name {
          font-weight: bold;
          font-size: 1.2em;
          margin-right: 2%;
        }

        .followers > span {
          &:first-child {
            margin-right: 10px;
          }
        }

        .followers {
          span {
            font-size: 0.85em;
            color: $gray3;

            span {
              font-weight: bold;
              color: $black;
            }
          }
        }
      }
    }

    .follow_button {
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        padding: 0.5% 1%;
        border-radius: 5px;
        background-color: $blue;
        color: $white;
        font-weight: bold;
        text-align: center;

        span {
          margin-left: 10px;
        }

        &:hover {
          cursor: pointer;
        }
      }

      .unfollow {
        background-color: $red;
      }
    }
  }

  .user_feed {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 1%;

    .selectors {
      flex: .2;
      padding: 2% 0;

      .buttons {
        font-family: 'Lato', sans-serif;
        background-color: $white;
        border-radius: 7px;
        padding: 6% 6% 6% 0;

        div {
          margin-bottom: 10%;
          border-radius: 3px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            text-decoration: none;
            font-weight: bold;
            color: $gray3;
            padding-left: 6%;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .tweets {
      flex: 1;

      .no_data {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        font-family: 'Lato', sans-serif;
        color: $gray3;
      }
    }
  }
}

.selectedDiv {
  border-left: 5px solid $blue;
}

.selectedButtonColor {
  color: $blue !important;
}

@media (max-width: 745px) {
  .profile {
    .profile_card {
      text-align: center;

      .user {
        .info {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }

      .follow_button {
        display: flex;
        justify-content: center;
      }
    }

    .user_feed {
      flex-direction: column;
      margin: 0 5%;

      .tweets {
        margin: 0 -5%;
      }
    }
  }
}
