@import "./variables";

.replies {
  padding: 1% 1.5% .5% 1.5%;
  background-color: $white;
  border: 1px solid $white1;
  border-radius: 7px;
  margin-bottom: 1%;
  word-wrap: break-word;

  .username {
    font-weight: bold;
    margin-right: 1%;

    &:hover {
      cursor: pointer;
    }
  }

  .date {
    color: $gray1;
  }

  .text p {
    color: $gray4;
  }

  .delete {
    text-align: right;

    button {
      background-color: transparent;
      border: none;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
        background-color: $white1;
      }
    }
  }
}
