.home {
  min-height: 100vh;
  background-color: #f2f2f2;
  padding-top: 2.5%;

  .empty_tweet {
    text-align: center;
    margin-top: 10%;
    font-family: 'Lato', sans-serif;
    color: #929292;
    font-weight: bold;
  }

  .loading {
    margin: 5% auto 0 auto;

    border: 3px solid #2f80ed;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-left-color: #f2f2f2;
    animation: spin 1s ease infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
