@import "../../global/styles/variables";

.home {
  min-height: 100vh;
  background-color: $white1;
  padding-top: 2.5%;
  padding-bottom: 2.5%;

  .empty_tweet {
    text-align: center;
    margin-top: 10%;
    font-family: 'Lato', sans-serif;
    color: $gray2;
    font-weight: bold;
  }
}
