@import "../../global/styles/variables";

.tweetinput {
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin: 0 5%;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid $white1;

  span {
    margin: 2% 0 1% 2%;
  }

  .line {
    border-bottom: 2px solid $white1;
    margin: 0 2%;
  }

  .input {
    #inpt {
      margin: 0 2%;
      font-family: 'Lato', sans-serif;
      font-size: 1.2em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 97%;
      height: 3em;
      resize: none;
      border: none;
      outline: none;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;

    button {
      cursor: pointer;
      align-self: flex-end;
      margin: 1% 2% 2% 0;
      border: none;
      outline: none;
      color: $white;
      background-color: $blue;
      padding: .5em 1em;
      border-radius: 6px;
      font-family: 'Lato', sans-serif;
      font-size: 1.1em;

      .loading_btn {
        border: 3px solid rgba(0, 0, 0, 0.1);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border-left-color: $white;
        animation: spin 1s ease infinite;
      }
    }
  }
}

@media (max-width: 745px) {
  .tweetinput {
    span {
      margin: 5% 0 2% 5%;
    }

    .line {
      margin: 0 5%;
    }

    .input {
      margin: 0 5%;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
